.folder {
  display: flex;
  align-items: flex-end;

  &__label {
    display: block;
    min-width: 140px;
    font-size: 14px;
    padding: 5px;
    padding-right: 0;
  }
}

.folderNameInput {
  width: 200px;
  font-size: 14px;
  margin-top: 10px;
}

.folder-li {
  margin-bottom: 5px;
}

.folder-li:first-child {
  margin-top: 5px;
}

.folderNameInputWhenFoldersLengthMoreThanOne {
  width: 96%;
  display: block;
  font-size: 14px;
}

.editFolderNameInput {
  font-size: 14px;
  margin: 5px 0;
}
