.containerBtnSimulation {
  margin-left: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #f9f9f9;
  border-radius: 50%;
  margin: 12px 8px 0 0;
  
  &.red {
    background: #FF6057;
    border: 1px solid #E14640;
  }

  &.amber {
    background: #FFBD2E;
    border: 1px solid #DFA123;
  }

  &.green {
    background: #27C93F;
    border: 1px solid #1DAD2B;
  }
}